export PROJECT=`git rev-parse --show-toplevel`

export MAKE_SETUP_JOBS=3

export CLUSTERCTL_VERSION="v1.5.3"
export KIND_VERSION="v0.20.0"
export KUBECTL_VERSION="v1.28.3"

export KIND_NODE_VERSION="v1.28.0"
export MANAGEMENT_CLUSTER="exp-capi"
export MANAGEMENT_KUBECONFIG="${PROJECT}/.kube/${MANAGEMENT_CLUSTER}"

export CLUSTER_TOPOLOGY=true
export SERVICE_CIDR=["10.128.0.0/12"]
export POD_CIDR=["192.168.0.0/16"]
export SERVICE_DOMAIN="cluster.local"
export POD_SECURITY_STANDARD_ENABLED="false"

export WORKLOAD_K8S_VERSION="v1.28.0"
export WORKLOAD_CONTROL_PLANE=1
export WORKLOAD_WORKER=1
export WORKLOAD_CLUSTER="exp-capi-workload"
export WORKLOAD_MANIFEST="${PROJECT}/.kube/${WORKLOAD_CLUSTER}.yaml"
export WORKLOAD_KUBECONFIG="${PROJECT}/.kube/${WORKLOAD_CLUSTER}"
export WORKLOAD_CALICO_VERSION="v3.26.3"

export WORKLOAD_TEST_NAMESPACE="sample"
